*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
  }

/** components - navigation.js */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    background: red;
}

.navigation .left-navigation .navlink {
    text-decoration: none;
}

.navigation .left-navigation .navlink li {
    color: white;
    list-style: none;
    font-size: 30px;
    padding: 0px 10px;
}

.navigation .right-navigation .navlink {
    text-decoration: none;
}

.navigation .right-navigation .navlink li {
    display: inline;
    color: white;
    list-style: none;
    padding: 10px 20px;
    font-size: 22px;
}

/* Footer.js */

footer {
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
  padding: 90px 0;
}


/* Home.js */
.cards .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

