/** components - navigation.js */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.navigation .left-navigation .navlink li {
    text-decoration: none;
}