*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/** components - navigation.js */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    background: red;
    width: 100%;
    text-align: center;
}

.navigation .left-navigation .navlink {
    text-decoration: none;
}

.navigation .left-navigation .navlink li {
    color: white;
    list-style: none;
    font-size: 30px;
    padding: 0px 10px;
}

.navigation .right-navigation .navlink {
    text-decoration: none;
}

.navigation .right-navigation .navlink li {
    display: inline;
    color: white;
    list-style: none;
    padding: 10px 20px;
    font-size: 22px;
}

/* Home.js */

footer {
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
  padding: 90px 0;
}

